@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  /* hide default scrollbars for Firefox & IE */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Custom visual scrollbar logic */
::-webkit-scrollbar {
  width: 8px;
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
